template(name='oneTask')
  div.container-fluid
    div.row
      +functionalArea
      +oneTaskContent

template(name='oneTaskContent')
  div.col-md-offset-3.col-md-9.one-task-content
    div.page-header
      h1 任务详情
    div.panel.panel-primary
      div.panel-heading #{ task.title }
      div.panel-body
        div.row

          div.col-md-2.text-center
            p
              strong 发布者
          div.col-md-10
            div.media.alert.applicants.alert-warning
              div.media-left
                a(href='#') 
                  img.media-object(src = '{{userImageSrc task.createdBy}}')
              div.media-body
                h4.media-heading #{ task.createdBy }
                  span.label.label-default.credit 信誉度: {{getCredit task.createdBy}}
                  span.label.label-default 熟练度: {{getProficiency task.createdBy}}

          div.col-md-2.text-center
            p
              strong 类别
          div.col-md-10
            p #{ task.type }

          div.col-md-2.text-center
            p 
              strong 描述
          div.col-md-10
            blockquote!= task.description

          div.col-md-2.text-center
            p 
              strong 截止
          div.col-md-10
            p #{ task.deadline.toLocaleString }

          div.col-md-2.text-center
            p 
              strong 酬劳
          div.col-md-10
            p #{ task.reward }

          if isExecutant task task.executant 'current-user-or-publisher'
            div.col-md-2.text-center.contact
              p.label.label-warning 
                strong 联系方式
            div.col-md-10.contact
              p.label.label-warning  #{ task.contact }

          div.col-md-2.text-center
            p 
              strong 申请人
          div.col-md-10
            each task.applicantsAndReasons
              div.media.applicants(class='{{#if isExecutant task name "applicant"}} alert alert-success {{else}} {{#if isSelf name}} alert alert-info {{else}} well {{/if}} {{/if}}')
                div.media-left
                  a(href='#') 
                    img.media-object(src = '{{userImageSrc name}}')
                div.media-body
                  h4.media-heading #{ name }
                    span.label.label-default.credit 信誉度: {{getCredit name}}
                    span.label.label-default 熟练度: {{getProficiency name}}
                    if isExecutant task name 'applicant'
                      span.label.label-success 执行者
                    if isSelf name
                      span.label.label-info 我
                  div.col-md-10.reason!= reason
                  if isPublisher task 'select-excutant'
                    button.btn.btn-info.btn-sm.pull-right.select-excutant 同意
    if canBeApply task
      div
        p
          strong 申请理由
      div.editor
        textarea.form-control(id="edit" name="content" required)

    div.operation-btns
      if isAdmin
        button.btn.btn-primary.pull-right.delete-task 删除任务

      else
        if canBeApply task
          button.btn.btn-primary.pull-right.apply-task 申请任务
          span.pull-right.sr-only.apply-task-warn.sr-only 请输入申请理由

        if isExecutant task task.executant 'current-user'
          button.btn.btn-primary.pull-right.apply-complete 申请完成

        if isPublisher task 'cancle-publish-task'
          button.btn.btn-primary.pull-right.cancel-publish 取消发布

        if isPublisher task 're-publish-task'
          button.btn.btn-primary.pull-right.re-publish 重新发布
